# Build directory
/build/

# Object and binary files (anywhere in the project)
*.o
*.obj
*.lo
*.out
*.exe
*.a
*.so
*.dll
*.dylib

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Generated dependency files
*.d

# Logs
*.log

# Backup or swap files
*~
*.swp
.DS_Store

# VSCode, CLion, Emacs, etc.
.vscode/
.idea/
compile_commands.json
